* {
  margin: 0;
  padding: 0;
}

a {
  color: rgb(189, 67, 116);
  text-decoration: none;
}

.menu {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  color: rgb(189, 67, 116);
  position: relative;
}

.nav-items {
  width: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-items--menuIcon {
  padding: 1rem;
  display: none;
}

#a-first {
  color: rgba(255, 50, 159, 0.833);
}

a:hover {
  color: rgba(255, 50, 159, 0.833);
  transition: color 0.2s;
}

.menu-img {
  width: 6rem;
  height: 4 5rem;
  padding: 1rem;
}

/* Media Queries */
@media only screen and (max-width: 915px) {
  .nav-items--menuIcon {
    display: block;
    cursor: pointer;
    font-weight: 900;
  }
  .nav-items {
    flex-direction: column;
    position: absolute;
    right: 0;
    top: -19rem;
    background-color: black;
  }
  .nav-items > span {
    padding: 0.5rem;
  }
  .show-nav-items {
    width: 100%;
  }
}

.show-nav-items {
  top: 7rem;
  transition: top 1s;
}
/* Home */
.home-section {
  background-color: rgb(208, 108, 142);
  width: 100%;
  height: 80vh;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.home-item-cupcake-about {
  padding: 1rem;
  margin: 1rem;
  color: white;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
}

h1 {
  font-size: 2rem;
  color: black;
  font-weight: bold;
}

p {
  font-size: 1.2rem;
  font-style: italic;
}

img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 1152px) {
  h1 {
    font-size: 1.1rem;
    font-style: italic;
  }
  p {
    font-size: 1.1rem;
    font-style: normal;
  }
}

@media only screen and (max-width: 1060px) {
  .home-section {
    grid-template-columns: 1fr;
    padding-top: 1rem;
    height: fit-content;
  }
  .home-item-cupcake-about {
    justify-content: space-around;
  }
}
