* {
  margin: 0;
  padding: 0;
}

a {
  color: rgb(189, 67, 116);
  text-decoration: none;
}

.menu {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  color: rgb(189, 67, 116);
  position: relative;
}

.nav-items {
  width: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-items--menuIcon {
  padding: 1rem;
  display: none;
}

#a-first {
  color: rgba(255, 50, 159, 0.833);
}

a:hover {
  color: rgba(255, 50, 159, 0.833);
  transition: color 0.2s;
}

.menu-img {
  width: 6rem;
  height: 4 5rem;
  padding: 1rem;
}

/* Media Queries */
@media only screen and (max-width: 915px) {
  .nav-items--menuIcon {
    display: block;
    cursor: pointer;
    font-weight: 900;
  }
  .nav-items {
    flex-direction: column;
    position: absolute;
    right: 0;
    top: -19rem;
    background-color: black;
  }
  .nav-items > span {
    padding: 0.5rem;
  }
  .show-nav-items {
    width: 100%;
  }
}

.show-nav-items {
  top: 7rem;
  transition: top 1s;
}
